/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Gray): #d9d9d9;
Tertiary Color (White):#ffffff;
*/


body {
    background-color: white;
    font-family: roboto, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
}


    


    


h1 {
color: #FFFFFF;
font-size: 20px;
}


  

   h1.topic {
    color: #000000;
    font-size: 18px;
    text-align: left;
    padding: auto;
    
   }

   
h1.prototype {
    color: #000000;
    font-size: 18px;
    font-weight: 400;
    
   }

h2 {
    color: none;
    font-size: 16px;
    font-weight: 600;
    font-style: italic;
    line-height: 1.4;
    text-align: center;
}

h2.topic {
    font-size: 16px;
    color: darkolivegreen;
    text-align: left;
    
   }


   h2.connect {
    color: #000000;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    padding-top: 20px;
    padding-bottom: 20px;
   
   }

   h1.tagline {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.8;
   }
   h1.tagline span {
    display:block;
   }



   #hero {
    background-color: #000000;
    text-align: right;
    letter-spacing: 5px;
    line-height: 1.0;
    padding: 20 px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
 
    display: inline-block;
    width: 100%;
   }

   nav > ul> {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

   #bio{
    background-color: #f1890171;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5px;
    
   }

   #resume{
    background-color: #ffffff;
    line-height: 1.4;
   }



  
  
   #work{
    background-color: #f1890171;
    padding-top: 10px;
    padding-bottom: 10px;

   }

   #work2{
    background-color: #f1890171;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
   }

   #work3{
    background-color: #f1890171;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
   }
 
    
    footer {
        text-align: center;
        align-items: flex-start;
                }

        .icons {
            margin: 0 10px;
        }

   
#about{
background-color: #f1890171;
text-align: left;
padding-top: 10px;
padding-bottom: 10px;   
}




img {
    width: 100%;
    
max-width: 100%;
height: auto;
  }

  .picture {
    float: right;
  }


  .flex-example {
    display: flex;
    flex-direction: row;
    gap: 2%;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    justify-content: space-evenly;
    align-content: center;

     }

  .col {
    margin: 20px;
  }

 

 
 
@keyframes color-change {
    0% {fill: #d03816;}
    25% {fill: #ffffff;}
    75% {fill:#0e3aea}
    100% {fill:#000000}
}


#Layer_1{
    animation-duration: 8s;
    animation-name: color-change;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


#Layer_1{
    transform:rotate(360deg);
    transition: 8s;
    transition-delay: 2s;
     }


      






  a{ 
    color: rgb(21, 61, 61);
  }

 

  a:hover{
color: #F18701;
text-decoration: none;

  }
  a:focus {
    color: #F18701;
text-decoration: none;
  }


  .button {
    background-color: rgb(21, 61, 61);
    align-content: center;
    font-size: 16px;
    text-decoration: none;
    font-weight: 400;
    color: #ffffff;
    padding: 15px;
    border-radius: 3px;
    border-bottom: 20x #F18701;
    transition-duration: 1s;
    transition-property: opacity .1;


}

    .button:hover{
       background-color: #F18701;
        color: #ffffff;
        font-weight: 400;

    }

    .button.resume{
    background-color: rgb(21, 61, 61);
    font-weight: 400;
    color: #ffffff;
    padding: 7px;
    border-radius: 6px;
    border-bottom: 20x #F18701;
    transition-duration: 1s;
    transition-property: opacity .1;
}
    

    .button.resume:hover{
        background-color: #F18701;
        
        
    }

    .button.email{
        font-size: 20px;
        padding: 15px;
    }


#netrack{
    background-color: #f1890171;
    padding-top: 10px;
    padding-bottom: 10px;
    

}
   
    

    /* Layout Styling*/

    .container{
        padding: 0 15px;
        max-width: 1200px;
    }

    .row{
        width: 100%;
   
    
    }
.blue col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.green col {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}
      

header{
background-color: #FFFFFF;
text-align: center;
list-style-type: none;
word-spacing: 40px;
padding: 10px;
margin: 10px;
border: 1px solid #000000;
}

   main{
    background-color: #ffffff;
    padding-top: 5px;
        width: 100%;
    }
    



nav > ul> {
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

nav > ul> li {
    display: inline-block;
   
}

nav > ul> li a{
    padding: 0 15;
    text-transform: uppercase;
    font-weight: 400;
    color: #000000;
    width: 100%;
}

nav > ul> li a:hover{
    color: #F18701;
}


.logo{
    max-width: 250px;
    text-align: center;
    
}





/*Medium devices (640px and larger)*/

@media only screen and (min-width: 640px) {


    header{
        text-align: unset;
        padding: 20px 0 13px;
    
    }

    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }


  .container{
    display: blocK;
    margin: 0 auto;
    padding: auto;
  }

    

    [class*="col-"] {
        float: left;
      }

      .row:after {
        content: "";
        clear: both;
        display: table;
      }

  .col-md-6 {
        width: 48%;
        padding-right: 2%;


}
.col-md-6:last-child {
    padding-left: 2%;
    padding-right: 0%;


}



}

/*Large devices (1024px or larger)*/
 
@media only screen and (min-width: 1024px){
    header{
        text-align: unset;
        padding: 20px 0 13px;
        
    }

    body {
        font-size: 18px;
        
    }

   
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }


  .container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: blocK;
    margin: 0 auto;
  }

  .h2 {
    font-size: 20px;
  }

    
    [class*="col-"] {
        float: left;
        padding: auto;
      }

      .row:after {
        content: "";
        clear: both;
        display: table;
      }

  .col-lg-5  {
        width: 58%;
        padding-right: 2%;


}
.col-lg-5:last-child {
    padding-left: 2%;
    padding-right: 0%;


}

.col-lg-7  {
    width: 58%;
    padding-right: 2%;


}
.col-lg-7:last-child:last-child {
padding-left: 2%;
padding-right: 0%;


}


}





/*X-Large devices (1440px or larger)*/

@media only screen and (min-width: 1440px){


    .col-lg-7 {
        width: 78%;
        padding-right: 2%
            }
        
      .col-lg-5 {
        width: 18%;
            }
    


    
}

