/*
Colors used:
Primary Color (Black): #000000;
Secondary Color (Gray): #d9d9d9;
Tertiary Color (White):#ffffff;
*/

@font-face {
    font-family: 'Lexend';
    src: url(fonts/#000000);
}

body{

    background-position: 50%  270px; 
    background-repeat: no-repeat;
    background-size: contain;   


    
  
    
   
    line-height: 1.5;
}

h2 {
    color: #242323;   
    font-size: 18px;
    padding-bottom: 0px;
    margin-bottom: 1px;
}

p {color: #000000;
    margin: 0px;
    margin-top: 6px;
    font-size: 16px;
}



 #hero {
    background-image: linear-gradient(to right, rgba(254, 254, 254, 0.921) , rgba(255, 255, 255, 0.449));
    text-align: center;
    align-content: left;
    letter-spacing: 5px;
    align-content: center;
    line-height: 1.0;
    padding: 20 px 0;
    padding-top: 20px;
    padding-bottom: 10px;
    margin: 0 auto;
    
 

body {
    background-position: 50% 510px;
    background-size: 1200px;
   background-repeat: no-repeat;
    font-family: roboto, sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    text-align: left;
    font-weight: 300;
    line-height: 1.4;
   
}



   h2 {
    font-size: 16px;
}

  #work1 {
    background-color: transparent;
    padding-top: 40px;
   

  
   }


   #work2{
    background-color: #0e3aea;
    padding-top: 0px;

  
   }

      

   #work3{
    padding-top:10px;
    padding-bottom:10px;
   
   }
 


    
/*
Titles & Headings
*/
   




h1 {
color: #FFFFFF;
font-size: 36px;

}

  h1.tagline {
    color: #000000;
    font-size: 46px;
    font-weight: 100px;
    font-family: lexend;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.8;
   }

   h4 {
    display: flex;
    justify-content: center;
    color:#cdd2ce;
    font-style:normal;
    letter-spacing: 8px;
    font-size: 14px;


   }
   
   h1.tagline span {
    display:block;
   }



   
h1.prototype {    color: #000000;
    font-size: 24px;
    font-weight: 500;
    text-align: center;

    
   }


   h2.connect {
    color: #fa1212;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    padding-top: 20px;
    padding-bottom: 10px;
   
   }


  
 
    display: inline-block;
    width: 100%;
   }

   nav > ul> li{
    list-style-type: none;
    padding: 0;
    display: inline-block;
}

   #bio{
    background-color: rgba(21, 61, 61, 0.473);
    color: #FFFFFF;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5px;
    text-align: left;
    }

   #resume_skills{
    background-color: #ffffff;
    line-height: 1.8;
}

   

#workimage { size: 200px;}
  
 
    
    footer {
        background-image: linear-gradient(to right, rgba(21, 61, 61, 0.921) , rgba(10, 74, 12, 0.449));
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 20px;
                }

        .icons {
            margin: 0 10px;
        }
footer_connect{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 10px;

}

   
#about{
background-color: #ffffff;
text-align: left;
word-spacing: 2px;
line-height: 1.8;
padding-top: 10px;
padding-bottom: 10px;  
margin: auto; 
}




img {
    width: 100%;    
    padding-top: 85px;
max-width: 200%;
height: auto;
  }

  .picture {
    float: right;
  }


       .icon_flex {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        padding: 10px;
        padding-left: 10px;
        text-align: center;
        justify-content: space-evenly
    
         
         }




.icon_footer {
            display: flex;
            margin: 20px;
            justify-content: space-between;
            padding: 10px;
            
        
             }

     

  .col {
    margin: 20px;

  }

 

 
 
@keyframes color-change {
    0% {fill: #cfcfcf;}
    25% {fill: #ffffff;}
    75% {fill:#0e3aea}
    100% {fill:#000000}
}


    .scrolltotop{
    width: 48px;
    animation-name: appear;
    animation-timeline: scroll(y);
    position: fixed;
    padding-left: 150px;
    padding-top: 400px;
    padding-right: 20px;
}













#Layer_1{
    animation-duration: 8s;
    animation-name: color-change;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


#Layer_1{
    transform:rotate(360deg);
    transition: 8s;
    transition-delay: 2s;
     }


      






  a{ 
    color: rgb(21, 61, 61);
  }

 

  a:hover{
color: #9f4773f8;
text-decoration: none;

  }
  a:focus {
    color: #1ea943;
text-decoration: none;
  }


     .button {
        display: flex;
        justify-content: space-evenly;
        background-color: rgb(255, 255, 255);
        font-size: 16px;
        letter-spacing: 1px;
        margin-left: 150px;
        text-align: right;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: 500;
        color: #4d4d4d;
        text-decoration: none;
        padding: 15px;
        border-radius: 50px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        box-shadow: 0 1px 2px 1px rgba(150, 150, 150, 0.6);
        transition-duration: 1s;
        transition-property: opacity .1;
    
    
    }


    .button:hover{
       background-color: #000000;
        color: #ffffff;
        font-weight: 400;

    }

    .button.resume{
    display: inline-block;
    background-color: rgba(21, 61, 61, 0.712);
    border-radius: 4px;
    font-weight: 400;
    margin-left: 65px;
    color: #ffffff;
    padding: 20px;
    transition-duration: 1s;
    transition-property: opacity .1;
}
    

    .button.resume:hover{
        background-color: #000000;
        
        
    }

    .button.email{
        font-size: 20px;
        padding: 15px;
    }


#netrack{
    padding-top: 10px;
    padding-bottom: 10px;
    
    

}

   

    /* Layout Styling*/

    .container{
        padding: auto;
        padding-bottom: 20px;
        max-width: 1200px;
        
 
    }

    .row{
        width: 90%;
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: 8%;
        margin-top: 100px;  
    }

        .row1 {
        display: inline-block;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
    }
      
            .row2 {
        display: inline-block;
        width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
    }

header{
background-color: #ffffff;
padding: 10px;
margin: 0px;


}

   main{
    padding-top: 250px;
    padding-right: 20px;
    padding-left: 10px;
    width: 100%;
        
   
    }
    



nav > ul>  {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 100%;
}


nav > ul> li a{
    padding: 0 15px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color:rgb(166, 165, 164);
    padding-left: 10px;
    
}

nav > ul> li a:hover{
    color: #000000;
}

.navtoggle li:not(:last-child) {
    display: none;
   
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
    display: block;

  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
  color: #000000;
}

.navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    background-color: none;
    border-top: solid 1px #ffffff;
   

  }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }

.logo {
    max-width: 150px;
padding-left: auto;
         
}




/*Medium devices (320px and larger)*/

@media only screen and (min-width: 320px) {

    


    header{
        text-align: unset;
        padding: 0px;
        background-color: #ffffff;

    }

    
.logo{
    width: 120px;
    padding: 0px;
    padding-left: 1%;
    padding-top: 10px;
}
    nav {
        width: auto;
        float: right;
        margin-top: 4px;
    }

    nav > ul> li {
        display: inline-block;
        
       
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
        list-style: none;
      }

      .navtoggle li:last-child {
        display: none;
        list-style: none;
      }

      .navtoggle.responsive nav{
        padding: 0px 0 0;
        } 
        
        .navtoggle.responsive li {
        border-top: 1px solid transparent;
        padding: 0px 0;
        }

           main{
    padding-top: 270px;
    padding-right: 20px;
    padding-left: 0px;
    width: 100%;
        
   
    }

 #hero {
    background-color: #ffffff;
    text-align: right;
    letter-spacing: 5px;
    align-content: center;
    line-height: 1.0;
    padding: 20 px 0;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 0 auto;

    h1.tagline {
        color: #000000;
        font-size: 24px;
        font-family: 'Lexend' Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        letter-spacing: 8px;
        margin: 0px;
        line-height: 1.8;

    }
    h2 {
        font-size: 20px;
    }

body{
    background-position: 50% 220px; 
    background-repeat: no-repeat;
    background-size: contain;
    font-size: 24px;
    }

    
    .row{
        width: 90%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 8%;
        margin-top: 100px;  
    
    }

        .row1 {
            display: inline-block;
        width: 90%;
        padding-top: 500px;
        padding-bottom: 10px;
        padding-left: 8%;
        margin-top: 0px;  
    
    }
              .row2 {
            display: inline-block;
        width: 90%;
        padding-top: 0px;
        padding-bottom: 10px;
        padding-left: 8%;
        margin-top: 0px;  
    
    }
    
   
    

img {
    width: 100%;
    
    
max-width: 100%;
height: auto;
  }
        

        .button.resume{
            display: inline-block;
            background-color: rgba(21, 61, 61, 0.712);
            border-radius: 4px;
            font-weight: 400;
            margin-left: 290px;
            color: #ffffff;
            padding: 20px;
            transition-duration: 1s;
            transition-property: opacity .1;
        }

        

  .container{
    display: blocK;
    margin: 0 auto;
    padding: auto;
    padding-top: 20px;

  }



h1.topic{
font-size: 36px;
padding: auto;
}
    

    [class*="col-"] {
        float: left;
      }

      .row:after {
        content: "";
        clear: both;
        display: table;
      }

  .col-md-6 {
        width: 58%;
        padding-right: 75%;
        padding-left: 0%;
        margin-left: 8%;
        align-content: center;


        

}
.col-md-6:last-child {
    padding-left: 2%;
    padding-right: 0%;


}

.icon_footer {
    display: flex;
    margin: 20px;
    justify-content: space-between;
    padding: 10px;
    

     }

     

     h2.connect {
        color: #ffffff;
        font-size: 24px;
        font-weight: 700;
        letter-spacing: 8px;
        text-align: center;
        background: none;
        padding-top: 20px;
        padding-bottom: 10px;
       
       }
    



nav > ul>  {
    list-style-type: none;
    padding: 0;
    display: inline-block;
    width: 100%;
}


nav > ul> li a{
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 400;
    color:darkslategrey;
    padding-left: 10px;
    
}

nav > ul> li a:hover{
    color: #000000;
}

.navtoggle li:not(:last-child) {
    display: none;
   
  }

  .navtoggle, .navtoggle.responsive {
    position: relative;
    display: block;

  }

  .navtoggle.responsive nav {
    padding: 24px 0 0;
  }

  .navtoggle li .icon {
  position: absolute;
  right: 10px;
  top: 2px;
  font-size: 20px;
  color: #000000;
}

.navtoggle.responsive li  {
    display: block;
    padding: 10px 0;
    background-color: none;
    border-top: solid 1px #ffffff;
   

  }

  .navtoggle.responsive li:last-child  {
    padding: 0 0 10px;
  }






}

/*Large devices (1024px or larger)*/
 
@media only screen and (min-width: 1024px){
    header{
        text-align: unset;
        padding: 40px 0 0px;
        
        
    }

     h1.tagline {
    color: #000000;
    font-size: 40px;
    font-weight: 200;
    text-align: center;
    letter-spacing: 25px;
    line-height: 1.8;
   }


    #hero {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0.921) , rgba(255, 255, 255, 0.449));
    text-align: right;
    letter-spacing: 5px;
    line-height: 1.0;
    padding: 20 px 0;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0 auto;
    display: inline-block;
    width: 100%;
   }

   
    h2{
        color: #000000;
        font-size: 24px;
    }

     main{
    padding-top: 700px;
    padding-right: 20px;
    width: 100%;
        
   
    }

    
    .row{
        width: 90%;
        padding-top: 100px;
        padding-bottom: 0px;
        padding-left: 8%;
        margin-top: 100px;  
    }

        .row1 {
            display: flex;
            column-gap: 70px;
            

        width: 100%;
        padding-top: 0px;
        padding-bottom: 20px;
        padding-left: 2%;
        margin-top: 0px;  
    }

    img {
    width: 100%;
    align-items: center;
    

height: auto;
  }

.logo {
max-width: 250px;
width: 300px;
padding-left: 40px;

}

html {
    scroll-behavior: smooth;
}


    p {font-size: 24px;}


    body {
        font-size: 18px;
        background-repeat: no-repeat;
    
        
        
    }


    .button {
        background-color: rgba(250, 249, 249, 0.712);
        font-size: 16px;
        letter-spacing: 5px;
        margin-left: 120px;
        text-align: right;
        font-weight: 400;
        color: #acacac;
        text-decoration: none;
        padding: 20px;
        border-radius: 50px;
        outline-style: solid; 
        outline-color: #838181;
        transition-duration: 1s;
        transition-property: opacity .1;
    
    
    }

    
body {
    background-position: 50% 350px;
    background-size: 1200px;
   background-repeat: no-repeat;
    font-family: roboto, sans-serif;
    letter-spacing: 1px;
    font-size: 12px;
    text-align: left;
    font-weight: 300;
    line-height: 1.4;
   
}

    #profile_pic{
        width: 50%;
        padding-left: 300px;
    }

    #bio{
    background-color: rgba(21, 61, 61, 0.473);
    color: #FFFFFF;
    padding: 20px;
    margin: 0 auto;
    margin-top: 5px;

    .button.resume{
        display: inline-block;
        background-color: rgba(21, 61, 61, 0.712);
        border-radius: 4px;
        font-weight: 400;
        margin-left: 400px;
        margin-top: 20px;
        margin-bottom: 20px;
        color: #ffffff;
        padding: 20px;
        transition-duration: 1s;
        transition-property: opacity .1;
    }

    h2footer_connect{
    color: #ffffff;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    padding-top: 20px;
    padding-bottom: 10px;

}

h2.connect {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    padding-top: 20px;
    padding-bottom: 10px;
   
   }

    
    
    a.nav {
        color: #000000;
        width: auto;
        float: right;
        margin-top: 4px;
    }



    .navtoggle.responsive li  {
        display: block;
        padding: 10px 0;
        border-top: solid 1px #ffffff;
       
    
      }

       
    
      

   
    nav {
        color: #000000;
        width: auto;
        float: right;
        margin-top: 4px;
    }


  .container{
    max-width: 1200px;
    margin-left: 0;
    margin-right: 0;
    display: blocK;
    margin: 0 auto;
  }




  h1 {
    font-size: 28px;
  }



h2 {
    font-size: 46px;
}

h2.connect {
    color: #ffffff;
    font-size: 40px;
    text-align: center;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    padding-top: 20px;
    padding-bottom: 10px;
   
   }




    
    [class*="col-"] {
        float: left;
        padding: auto;
      }

      .row:after {
        content: "";
        clear: both;
        display: table;
      }

  .col-lg-5  {
        width: 58%;
        padding-right: 2%;
       


}
.col-lg-5:last-child {
    padding-left: 2%;
    padding-right: 0%;


}


.col-lg-7  {
    width: 58%;
    padding-right: 2%;


}
.col-lg-7:last-child:last-child {
padding-left: 2%;
padding-right: 0%;


}




.icon_footer {
    display: flex;
    margin: 20px;
    justify-content: space-evenly;
    padding: 10px;
    

     }

     .icon_flex {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        padding: 20px;
        padding-left: 60px;
        text-align: center;
        justify-content: space-evenly;
        
    
         
         }

            .scrolltotop{
    animation-name: appear;
    animation-timeline: scroll(y);
    position: fixed;
    padding-left: 100px;
    padding-top: 400px;
    padding-right: 20px;
}

    




/*X-Large devices (1440px or larger)*/

@media only screen and (min-width: 1440px){




    .col-lg-7 {
        width: 78%;
        padding-right: 2%
            }
        
      .col-lg-5 {
        width: 18%;
            }
            

            .button.resume{
                display: inline-block;
                background-color: rgba(21, 61, 61, 0.712);
                border-radius: 4px;
                font-weight: 400;
                margin-left: 500px;
                margin-top: 20px;
                margin-bottom: 20px;
                color: #ffffff;
                padding: 20px;
                transition-duration: 1s;
                transition-property: opacity .1;
            }
 
            nav > ul> li {
                display: inline-block;
                
               
            }
        
            .navtoggle li:not(:last-child) {
                display: inline-block;
                list-style: none;
              }
        
              .navtoggle li:last-child {
                display: none;
                list-style: none;
              }
        
              .navtoggle.responsive nav{
                padding: 0px 0 0;
                } 
                
                .navtoggle.responsive li {
                border-top: 1px solid transparent;
                padding: 0px 0;
                }
           
            nav {
                color: #000000;
                width: auto;
                float: right;
                margin-top: 4px;
            }

            .logo {
                max-width: 2500px;
                padding-left: 5px}
}