/*
       
        box-shadow: 0 1px 2px 1px rgba(150, 150, 150, 0.6);
Colors used:
Primary Color (Black): #000000;
Secondary Color (Gray): #d9d9d9;
Tertiary Color (White):#ffffff;
*/


@import url('https://fonts.googleapis.com/css2?family=Lexend+Zetta:wght@100..900&family=Lexend:wght@100..900&family=Londrina+Sketch&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

    .container{
        padding: auto;
        padding-bottom: 0px;
        max-width: 1200px;
        align-items: center;
        padding-left: 0px;
        
 
    }
 

       main{
   padding: auto;
   padding-top: 535px;
    width: 100%;
        
   
    }

    
header{
    padding-left: 5px;
background-color: #ffffff;
padding: 10px;
margin: 0px;}

.logo {
    max-width: 150px;
margin-top: 1px;
         
}

img.logo {
    margin: 0px;
    padding-top: 10px;

    
}

nav {
    margin-top: 0px;
}

ul{ 
    margin-top: 10px;
    padding-left: 150px;
    
}

li {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 15px;
    padding-top: 0px;
    list-style: none;

}

ul.skills{   
     display: inline-block;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0px;
    padding-top: 0px;
    list-style: none;}

nav > ul> li a{
    padding: 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 400;
    color:rgb(166, 168, 167);
    padding-left: 0px;
}

  h1 {
    color: #2c2b2b;
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.8;
    margin-top: 0px;
    margin-right: 50px;
    margin-left: 40px;
    margin-bottom: 20px;
   }

    h2 {
        text-align: center;
    color:#cdd2ce;
    font-style:normal;
    letter-spacing: 8px;
    font-size: 14px;
    text-align: center;
    margin-right: 20px;
    margin-left: 20px;
   }


   h3{ 
    text-align: center;
    color:#a1a3a2;
    font-style:normal;
    font-weight: 500px;
    letter-spacing: 8px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;

   }

   h4 {  
   text-align: center;
    color: #000000;   
    font-size: 32px;
    letter-spacing: 8px;
    padding: auto;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding-left: 5px;
}
    
   h5 {  
   text-align: center;
    color: #000000;  
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76); 
    font-size: 28px;
    letter-spacing: 8px;
    padding: auto;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding-left: 5px;
}

   h6 {  
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.921) , rgba(64, 12, 51, 0.712));
   text-align: center;
    color: #1b051c;  
    font-size: 22px;
    letter-spacing: 8px;
    padding: auto;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 10px;
    padding-left: 5px;
}



body{

  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100vh;
  background-image: url('../ui_profile_pic_3x.jpg');
  background-repeat: no-repeat;
    background-position: center;
    background-position-y: 120%; 
    background-size: contain;   
    line-height: 1.8;
}



    img {
    width: 250px;
    height: auto;
     display: block;
  margin: auto;
  margin-right: 65px;
  justify-content: center;    
  }


p {color: #525151;
    margin: 0px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 1px;
}


    .row{
        width: 100%;
        align-content: center;
        text-align: center;
        padding-bottom: 0px;
        margin-top: 40px;  
    }

   .row1 {
        display: inline-block;
        justify-content: space-evenly;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
        
    }

            .row2 {
        display: inline-block;
        justify-content: center;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
    }

             .row3 {
        display: inline-block;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
        margin-bottom: 20px;
    }

        .button {
        background-color: transparent;
        font-size: 16px;
        letter-spacing: 5px;
        margin-left: 60px;
        text-align: center;
        font-weight: 400;
        color: #5d5b5b;
        font-weight: 300px;
        text-decoration: none;
         padding: 20px;
         border-radius: 21px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        transition-duration: 1s;
        transition-property: opacity .1;
        align-content: center;}
    
       #hero {
    text-align: right;
    letter-spacing: 5px;
    line-height: 1.8;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 5%;
   }

    
   #bio{
    color: #000000;
    padding: 0px;
    margin: 0;
    margin-top: 0px;
    text-align: left;
    }

    p.indent {color: #878484;
    text-align: justify;
    word-break:keep-all;
    margin: 0px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 0px;
    font-style: light;
    letter-spacing: 0px;
    line-height: 2;
}



    .button.resume{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: 400;
    margin-left: auto;
    color: #5d5b5b;
    padding: 20px;
     text-align: center;
        font-weight: 400;
     text-decoration: none;
         padding: 15px;
         border-radius: 21px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        transition-duration: 1s;
        transition-property: opacity .1;
        align-content: center;
    transition-duration: 1s;
    transition-property: opacity .1;
}
    

    .button.resume:hover{
     display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: 400;
    margin-left: auto;
    color: #5d5b5b;
    padding: 20px;
     text-align: center;
        font-weight: 400;
     text-decoration: none;
         padding: 15px;
         border-radius: 21px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        transition-duration: 1s;
        transition-property: opacity .1;
        align-content: center;
    transition-duration: 1s;
    transition-property: opacity .1;
        
        
    }

   #resume_skills{
    background-color: #ffffff;
    line-height: 1.8;
}

   
 
    
    footer {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.921) , rgba(255, 255, 255, 0.712));
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 20px;
                }

        .icons {
            margin: 0 10px;
        }
footer_connect{
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 10px;

}

   
#about{
background-color: #ffffff;
text-align: left;
word-spacing: 2px;
line-height: 1.8;
padding-top: 10px;
padding-bottom: 10px;  
margin: auto; 
}







       .icon_flex {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        padding: 10px;
        padding-left: 10px;
        text-align: center;
        justify-content: space-evenly
    
         
         }




.icon_footer {
            display: flex;
            flex-direction: row;
            column-gap: 60px;
            justify-content: space-evenly;
            align-content: center;
            padding: 50px;
            padding-top: 20px;
            

 
            
        
             }

     

  .col {
    margin: 20px;

  }


 
 
@keyframes color-change {
    0% {fill: #cfcfcf;}
    25% {fill: #ffffff;}
    75% {fill:#0e3aea}
    100% {fill:#000000}
}


    .scrolltotop{
    width: 48px;
    animation-name: appear;
    animation-timeline: scroll(y);
    position: fixed;
    padding-left: 150px;
    padding-top: 400px;
    padding-right: 20px;
}













#Layer_1{
    animation-duration: 8s;
    animation-name: color-change;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


#Layer_1{
    transform:rotate(360deg);
    transition: 8s;
    transition-delay: 2s;
     }



  a:hover{
color: #9f4773f8;
text-decoration: none;

  }
  a:focus {
    color: none;
text-decoration: none;
  }

    .button:hover{
       background-color: #4b0a3c;
        color: #ffffff;
        font-weight: 400;

    }



    .button.email{
        font-size: 20px;
        padding: 15px;
    }

 

    /* Layout Styling*/


     

nav > ul> li a:hover{
    color: #9f4773f8;
}






/*Medium devices (640px and larger)*/

@media only screen and (min-width: 640px) {}
 


/*Large devices (1024px or larger)*/
 
@media only screen and (min-width: 1024px){
    
       .container{
        padding: auto;
        background-color: transparent;
        padding-bottom: 0px;
        max-width: 1440px;




        
 
    }

           main{
   padding: auto;
   padding-top: 1000px;
    width: 100%;
        
   
    }

    header{
    padding-left: 5px;
background-color: transparent;
padding: 10px;
margin: 0px;}

    .logo {
    max-width: 200%;
margin-top: 1px;
position: fixed;
         
}

img.logo {
    margin: 0px;
    padding-top: 10px;

    
}
    nav {
    margin-top: 0px;
}

ul{ 
    list-style: none;
    
}

li {
    float: right;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    padding: 25px;
    padding-top: 0px;
    list-style: none;

}

ul.skills{   
     display: inline-block;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding: 0px;
    padding-top: 0px;
    list-style: none;}

nav > ul> li a{
    padding: 0px;
     font-size: 1rem;
    color: #2c2b2b;
    text-transform: uppercase;
    font-weight: 400;
    color:rgb(166, 168, 167);
    padding-left: 0px;
}

  h1 {
    font-size: 2rem;
    font-size: clamp(1rem, -0.717rem + 5.4700vw, 4rem);
    color: #000000;
    font-size: 28px;
    text-align: center;
    letter-spacing: 5px;
    line-height: 1.8;
    margin-top: 0px;
    margin-right: 50px;
    margin-left: 20px;
    margin-bottom: 20px;

   }

    h2 {
        text-align: center;
    color:#cdd2ce;
    font-style:normal;
    letter-spacing: 8px;
    font-size: 14px;
    text-align: center;
    margin-right: 20px;
    margin-left: 0px;
   }


   h3{ 
    text-align: left;
    color:#a1a3a2;
    font-style:normal;
    font-weight: 500px;
    letter-spacing: 8px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;

   }

   h4 {  
   text-align: center;
    color: #000000;   
    font-size: 32px;
    letter-spacing: 8px;
    padding: auto;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding-left: 5px;
}
    
   h5 {  
   text-align: center;
    color: #000000;  
    text-shadow: 0px 0px 10px rgba(255, 255, 255, 0.76); 
    font-size: 28px;
    letter-spacing: 8px;
    padding: auto;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 0px;
    padding-left: 5px;
}

   h6 {  
   background-image: linear-gradient(to right, rgba(255, 255, 255, 0.921) , rgba(64, 12, 51, 0.712));
   text-align: center;
    color: #1b051c;  
    font-size: 22px;
    letter-spacing: 8px;
    padding: auto;
    padding-bottom: 0px;
    margin-bottom: 1px;
    margin-top: 10px;
    padding-left: 5px;
}
body{
width: 100%;
height: auto;
  font-family: "Lexend", sans-serif;
  font-weight: 300;
  font-style: normal;
  height: 100vh;
  background-image: url('../ui_profile_pic_3x.jpg');
  background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;   
    background-position-y: 75%;
    line-height: 1.8;
    object-fit: contain;

}



    img {
    width: 100px;
    height: auto;
     display: block;
  margin: auto;
  margin-right: 10px;
  margin-left: 100px;
  justify-content: center;    
  }


p {color: #525151;
    margin: 0px;
    padding-right: 20px;
    word-wrap: break-word;
    padding-left: 20px;
    margin-top: 0px;
    font-size: 16px;
    font-weight: 300px;
    letter-spacing: 1px;
}


    .row{
        width: 100%;
        align-content: center;
        text-align: center;
        padding-bottom: 0px;
        margin-top: 40px;  
    }

   .row1 {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
        
    }

            .row2 {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
    }

             .row3 {
        display: flex;
        flex-direction: row;
        justify-content: left;
        width: 100%;
        height: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 10px;
        margin-top: 0px; 
        margin-bottom: 20px;
    }

        .button {
        background-color: transparent;
        font-size: 16px;
        letter-spacing: 5px;
        margin-left: 60px;
        text-align: center;
        font-weight: 400;
        color: #5d5b5b;
        font-weight: 300px;
        text-decoration: none;
         padding: 20px;
         border-radius: 21px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        transition-duration: 1s;
        transition-property: opacity .1;
        align-content: center;}
    
     .button.resume{
    display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: 400;
    margin-left: auto;
    color: #5d5b5b;
    padding: 20px;
     text-align: center;
        font-weight: 400;
     text-decoration: none;
         padding: 15px;
         border-radius: 21px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        transition-duration: 1s;
        transition-property: opacity .1;
        align-content: center;
    transition-duration: 1s;
    transition-property: opacity .1;
}
    

    .button.resume:hover{
     display: flex;
    justify-content: space-around;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    font-weight: 400;
    margin-left: auto;
    color: #5d5b5b;
    padding: 20px;
     text-align: center;
        font-weight: 400;
     text-decoration: none;
         padding: 15px;
         border-radius: 21px;
        outline-style:solid; 
        outline-width: thin;
        outline-color: #9c9b9b71;
        transition-duration: 1s;
        transition-property: opacity .1;
        align-content: center;
    transition-duration: 1s;
    transition-property: opacity .1;
        
        
    }

   #resume_skills{
    background-color: #ffffff;
    line-height: 1.8;
}

   
 
    
    footer {
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.921) , rgba(255, 255, 255, 0.712));
        color: #FFFFFF;
        text-align: center;
        padding-bottom: 20px;
                }

        .icons {
            margin: 0 10px;
        }
footer_connect{
    color: #ffffff;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 8px;
    text-align: center;
    background: none;
    margin-top: 100px;
    padding-top: 20px;
    padding-bottom: 10px;

}

   
#about{
background-color: #ffffff;
text-align: left;
word-spacing: 2px;
line-height: 1.8;
padding-top: 10px;
padding-bottom: 10px;  
margin: auto; 
}







       .icon_flex {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        padding: 10px;
        padding-left: 10px;
        text-align: center;
        justify-content: space-evenly
    
         
         }




.icon_footer {
            display: flex;
            flex-direction: row;
            column-gap: 60px;
            justify-content: space-evenly;
            align-content: center;
            padding: 50px;
            padding-top: 20px;
            

 
            
        
             }

    
    
    
    
   




.icon_footer {
            display: flex;
            flex-direction: row;
            column-gap: 60px;
            justify-content: space-evenly;
            align-content: center;
            padding: 50px;
            padding-left: 2500px;
        
             }

     .icon_flex {
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        margin: 10px;
        padding: 20px;
        padding-left: 60px;
        text-align: center;
        justify-content: space-evenly;
        
    
         
         }

            .scrolltotop{
    animation-name: appear;
    animation-timeline: scroll(y);
    position: fixed;
    padding-left: 100px;
    padding-top: 400px;
    padding-right: 20px;
}

    




/*X-Large devices (1440px or larger)

@media only screen and (min-width: 1440px){




    .col-lg-7 {
        width: 78%;
        padding-right: 2%
            }
        
      .col-lg-5 {
        width: 18%;
            }
            

            .button.resume{
                display: inline-block;
                background-color: rgba(21, 61, 61, 0.712);
                border-radius: 4px;
                font-weight: 400;
                margin-left: 500px;
                margin-top: 20px;
                margin-bottom: 20px;
                color: #ffffff;
                padding: 20px;
                transition-duration: 1s;
                transition-property: opacity .1;
            }
 

 
 
@keyframes color-change {
    0% {fill: #cfcfcf;}
    25% {fill: #ffffff;}
    75% {fill:#0e3aea}
    100% {fill:#000000}
}


    .scrolltotop{
    width: 48px;
    animation-name: appear;
    animation-timeline: scroll(y);
    position: fixed;
    padding-left: 150px;
    padding-top: 400px;
    padding-right: 20px;
}













#Layer_1{
    animation-duration: 8s;
    animation-name: color-change;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-timing-function: linear;
}


#Layer_1{
    transform:rotate(360deg);
    transition: 8s;
    transition-delay: 2s;
     }



  a:hover{
color: #9f4773f8;
text-decoration: none;

  }
  a:focus {
    color: none;
text-decoration: none;
  }

    .button:hover{
       background-color: #4b0a3c;
        color: #ffffff;
        font-weight: 400;

    }



    .button.email{
        font-size: 20px;
        padding: 15px;
    